<div class="row">
       <img class="lib-img" src="img/library/8-whitegoods.png">
       <img class="lib-img" src="img/library/0-fridge.jpg">
    <div class="col-md-2">
<div class="row">
      <p>Login with:</p>
</div>
<div class="row">
      <div class="col-md-8 col-md-offset-2" >
          <a href="facebook.com" class="btn btn-info btn-block">
              <i class="fa fa-facebook fa-x5"></i>
          </a>
      </div>
</div>
<div class="row">
      <div class="col-md-8 col-md-offset-2">
          <a href="google.com" class="btn btn-info btn-block">
              <i class="fa fa-google fa-x5"></i>
          </a>
      </div>
</div>
<div class="row">
      <p> or continue anonymiously</p>
</div>
    </div>
    
    <div class="col-md-9 col-md-offset-1">

        <h4>Welcome Mr. Mysterious</h4>

        <h2>Request my Needs</h2>

        <h2>1 Fridge located in "Richmond" - 7 Main St [requires referral]</h2></p>
        <h2>2 Fridges located in "North Melbourne" - 42 Douglas Ct </h2>
        <h2>1 Fridge located in "North Melbourne" - 17 Adams Ave </h2>
        <h2>1 Fridge located in "Abbotsford" - 33 Nowhere Ln </h2>

    </div>
    
</div>
</div>