<div class="row">
    <div class="col-md-2">
<div class="row">
      <p> </p>
</div>
      <p>Logged in with:</p>
<div class="row">
      <div class="col-md-8 col-md-offset-2" >
          <a href="facebook.com" class="btn btn-info btn-block btn-on">
              <i class="fa fa-facebook fa-x5"></i>
          </a>
      </div>
</div>
    </div>
    

        <h4>Welcome back Mrs. Doe</h4>
<div class="col-md-8  col-md-offset-1" >
        <h2>Donate my excess</h2>

        <div class="input-group">
          <span class="input-group-addon" id="basic-addon2">Pickup-Location</span>
          <input type="text" class="form-control" placeholder="33 Nowhere lane" aria-describedby="basic-addon2">
        </div>

        <div class="input-group">
          <span class="input-group-addon" id="basic-addon3">Suburb</span>
          <input type="text" class="form-control" placeholder="Abbotsford" aria-describedby="basic-addon3">
        </div>

        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownCategory" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Electrical
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownCategory">
            <li><a href="#">Housing</a></li>
            <li><a href="#">Transport</a></li>
            <li><a href="#">Education</a></li>
            <li><a href="#">Clothing</a></li>
            <li><a href="#">Food</a></li>
            <li><a href="#">Health</a></li>
            <li><a href="#">Financial</a></li>
            <li><a href="#">Electrical</a></li>
            <li><a href="#">Baby</a></li>
          </ul>
          
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownItems" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Washing Machines
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownItems">
            <li><a href="#">Clocks and Watches</a></li>
            <li><a href="#">Dryers</a></li>
            <li><a href="#">Dvd and media players</a></li>
            <li><a href="#">Fridges</a></li>
            <li><a href="#">Hairdryer</a></li>
            <li><a href="#">Microwave</a></li>
            <li><a href="#">TVs</a></li>
            <li><a href="#">Vacuum Cleaners</a></li>
            <li><a href="#">Washing Machines</a></li>
          </ul>
        </div>


         <span class="label label-default">Quantity</span>
         <input type="number" value="1" min="1" step="1" id="c1" />
         
        <div class="dropdown">
         
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownRecurrance" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Repetition
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownRecurrance">
            <li><a href="#">once off</a></li>
            <li><a href="#">weekly</a></li>
            <li><a href="#">monthly</a></li>
            <li><a href="#">annually</a></li>
          </ul>
        </div>

          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownEligibility" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Eligibility
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownEligibility">
            <li><a href="#">refferal only</a></li>
            <li><a href="#">no anonomys access</a></li>
            <li><a href="#">no restrictions</a></li>
          </ul>
          
          <div align="right">
            <a class="btn btn-default" href="/thanks">Donate Now</button>
          </div>
        </div>
        

    </div>
    
</div></div>