


<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-2" width="50px" height="50px">
        <img src="img/library/0-dryer.png" />
    </div>
    <div class="col-md-6">
        <p>Clothes Dryer</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-2">
        <img src="img/library/0-dvds.jpeg" />
    </div>
    <div class="col-md-6">
        <p>Home Electronics</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-2">
        <img src="img/library/0-hairdryer.png" />
    </div>
    <div class="col-md-6">
        <p>Hairdryer</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-2">
        <img src="img/library/0-vacuum.png" />
    </div>
    <div class="col-md-6">
        <p>Vacuum</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-2">
        <img src="img/library/0-washingmachine.jpeg" />
    </div>
    <div class="col-md-6">
        <p>Washing machine</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-2">
        <img src="img/library/1-housing.png" width="150px" />
    </div>
    <div class="col-md-6">
        <p>Housing</p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-2">
        <img src="img/library/0-microwave.jpg" width="150px" />
    </div>
    <div class="col-md-6">
        <p>Microwave</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-2">
        <img src="img/library/0-tv.png" width="150px" />
    </div>
    <div class="col-md-6">
        <p>TV</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-2">
        <img src="img/library/2-car.png" width="150px" />
    </div>
    <div class="col-md-6">
        <p>Cars</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-2">
        <img src="img/library/3-education.jpg" width="150px" />
    </div>
    <div class="col-md-6">
        <p>Education</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-2">
        <img src="img/library/4-clothes.png" width="150px" />
    </div>
    <div class="col-md-6">
        <p>Clothes</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-2">
        <img src="img/library/5-food.png" width="150px" />
    </div>
    <div class="col-md-6">
        <p>Food</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-2">
        <img src="img/library/6-nurse.png" width="150px" />
    </div>
    <div class="col-md-6">
        <p>Medical</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-2">
        <img src="img/library/7-money.png" width="150px" />
    </div>
    <div class="col-md-6">
        <p>Financial</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-2">
        <img src="img/library/8-whitegoods.png" width="150px" />
    </div>
    <div class="col-md-6">
        <p>Whitegoods</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-2">
        <img src="img/library/9-child.jpg"  width="150px"/>
    </div>
    <div class="col-md-6">
        <p>Child</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-2">
        <img src="img/library/ambulance-148747_1280.png" width="150px" />
    </div>
    <div class="col-md-6">
        <p>Ambulance</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-2">
        <img src="img/library/ballots-1195013_1280.jpg"  width="150px"/>
    </div>
    <div class="col-md-6">
        <p>Money</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-2">
        <img src="img/library/bell-pepper-1297918_1280.png"  width="150px" />
    </div>
    <div class="col-md-6">
        <p>Food</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-2">
        <img src="img/library/blackboard-1299841_1280.png"  width="150px" />
    </div>
    <div class="col-md-6">
        <p>Education</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-2">
        <img src="img/library/blouse-1297721_1280.png"  width="150px" />
    </div>
    <div class="col-md-6">
        <p>Clothing</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-2">
        <img src="img/library/cellular-151385_1280.png"  width="150px" />
    </div>
    <div class="col-md-6">
        <p>Phones</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-2">
        <img src="img/library/note-book-306253_1280.png" width="150px" />
    </div>
    <div class="col-md-6">
        <p>Computers</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-2">
        <img src="img/library/volleyball-294492_1280.png" width="150px" />
    </div>
    <div class="col-md-6">
        <p>Sports</p>
    </div>
</div>

