<div class="row">
    <div class="col-md-2">
<div class="row">
      <p>Login with:</p>
</div>
<div class="row">
      <div class="col-md-8 col-md-offset-2" >
          <a href="facebook.com" class="btn btn-info btn-block">
              <i class="fa fa-facebook fa-x5"></i>
          </a>
      </div>
</div>
<div class="row">
      <div class="col-md-8 col-md-offset-2">
          <a href="google.com" class="btn btn-info btn-block">
              <i class="fa fa-google fa-x5"></i>
          </a>
      </div>
</div>
<div class="row">
      <p> or continue anonymiously</p>
</div>
    </div>
    
    <div class="col-md-6 col-md-offset-1">
            <div class="col-md-3 col-md-offset-2" style="border:solid">
              
            </div>

        <h4>Welcome Mr. Mysterious</h4>

        <h2>Request my Needs</h2>
        
        <div class="row">
            <div class="col-md-3 col-md-offset-2" >
              <img class="lib-img" src="img/library/1-housing.png">
            </div>
            <div class="col-md-3" >
              <img class="lib-img" src="img/library/2-car.png">
            </div>
            <div class="col-md-3" >
              <a href="/whitegoods"><img class="lib-img" src="img/library/3-education.png"></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-md-offset-2" >
              <img class="lib-img" src="img/library/blackboard-1299841_1280.png">
            </div>
            <div class="col-md-3 fill container" height="100%" min-height="100%">
              <img class="lib-img" src="img/library/blouse-1297721_1280.png">
            </div>
            <div class="col-md-3" >
              <img class="lib-img" src="img/library/scales-310131_1280.png">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-md-offset-2" >
              <img class="lib-img" src="img/library/bell-pepper-1297918_1280.png">
            </div>
            <div class="col-md-3" >
              <img class="lib-img" src="img/library/ambulance-148747_1280.png">
            </div>
            <div class="col-md-3" ">
              <img class="lib-img" src="img/library/cellular-151385_1280.png">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-md-offset-2" >
              <img class="lib-img" src="img/library/ballots-1195013_1280.jpg">
            </div>
            <div class="col-md-3" >
              <img class="lib-img" src="img/library/victorian-155850_1280.png">
            </div>
            <div class="col-md-3" >
              <img class="lib-img" src="img/library/volleyball-294492_1280.png">
            </div>
        </div>


    </div>
    
</div>