<div class="row">
    <div class="col-md-2">
<div class="row">
      <p> </p>
</div>
<div class="row">
      <div class="col-md-8 col-md-offset-2" >
          <a href="facebook.com" class="btn btn-info btn-block btn-on">
              <i class="fa fa-facebook fa-x5"></i>
          </a>
      </div>
</div>
    </div>
    

        <h4>Welcome back Mrs. Doe</h4>
<div class="col-md-8  col-md-offset-1" >
        <h2>Donate my excess</h2>

        <h2>Thank you for your generosity</h2>

        <h6>Your reference number is: 593-9473-7593</h6>
        <h6>Goods of this kind are usually requested more than 3 times a week and the current local stock is 5</h6>



    </div>
    
</div></div>